extends layout

append head
  link(rel='stylesheet' href='/stylesheets/bookshelf.css')

block content
  div.center
    table(id='book-list')
        thead
            tr
                th Book Number
                th Cover
                th Title
                th Author
                th Shelf
                th Date Added
        tbody

            tr
                td #{book.id}
                td
                    img(src=book.cover class='coverImg')
                td
                    a(href=`/books/` + book.id) #{book.name}
                td #{book.author}
                td #{book.Bookshelves[0].status}
                td #{book.date_published}
                td
                    a(class='cancel-button' href='/bookshelf' type='button') Cancel
        div(class='py-4')
            p Proceed with deleting this book?
        div
            form(action=`/bookshelf/delete/${book.id}` method='post')
                button(class='delete-button' type='submit') Delete Book
