extends layout

append head
  link(rel='stylesheet' href='/stylesheets/bookshelf.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/home.css')

block content

  div.left(class='bookshelf-container')
    label(id='bookshelf') Bookshelf
        each shelf in bookshelf
          a(href='/bookshelf/'+ shelf.id) #{shelf.status}
    a(href='/bookshelf/shelves')
      button(type='button' href='/bookshelf/shelves' class='header-nav__btn') Edit

  div.center
    table(id='book-list')
        thead
            tr(id='book-list-head')
                th Book Number
                th Cover
                th Title
                th Author
                th Avg Rating
                th Shelf
                th Date Added
        tbody
            each book in books
                tr
                    td
                      ul #{book.id}
                    td
                      img(src=book.cover class='coverImg')
                    td
                      a(href=`/books/` + book.id) #{book.name}
                    td(class='author') #{book.author}
                    td(class='rating')
                      if book.Reviews[0]
                        ul #{book.Reviews[0].rating}
                      else
                        ul No reviews yet
                    td #{book.Bookshelves[0].status}
                    td #{book.date_published}
  include footer.pug
