extends layout

append head
    //- add page specific styles by appending to the head
    link(rel="stylesheet" href="/stylesheets/book.css")
    //- add page specific js
    //- script(src="/javascripts/index.js" type="module" defer)

block content
    div.left
    div.center
        div.book-info
            .title-div
                p.title #{book.name}
            .author-div
                p.author By: #{book.author}
            .rating-info-div
                p.rating-info Average Rating #{avgRating}  ||  #{ratings.length} ratings
            .description-div
                p.description #{book.description}
            .general-info-div
                p.general-info Published by #{book.publisher} on #{book.date_published} #{book.pages} Pages
        div.book-card
            .book-cover-div
                img(class="book-cover" src=book.cover)
            .shelf-add-div

            .rating-add-div
    .right
