extends layout

append head
  link(rel='stylesheet' href='/stylesheets/bookshelf.css')

block content

  div.left
    label(id='bookshelf') Bookshelf
        each shelf in bookshelf
          a(href='/bookshelf/'+ shelf.id) #{shelf.status}

  div.center
    table(id='book-list')
        thead
            tr
                th Book Number
                th cover
                th title
                th author
                th avg rating
                th shelf
                th date added
        tbody
            each book in books
                tr
                    td
                      ul #{book.id}
                    td
                      img(src=book.cover class='coverImg')
                    td
                      a(href=`/books/` + book.id) #{book.name}
                    td #{book.author}
                    td
                      if book.Reviews[0]
                        ul #{book.Reviews[0].rating}
                      else
                        ul No reviews yet
                    td #{book.Bookshelves[0].status}
                    td #{book.date_published}
                    td
                        a(href=`/bookshelf/delete/` + book.id type='button') Delete
